/*the html file will have a header,sb and a main
the container will have two columns the first column will be a lot smaller than the second column 
row will be probably be set to auto

then for each individual section ill decide i f its better to use flexbox or grid
*/
/*reset and custom variable */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul li,
nav {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style-type: none;
}

/*general styles for buttons, body and container div(use auto-fit with grid and minmax 150px-200px 1fr) */
body {
  height: 100vh;
}

.container {
  height: 100%;
  border: 4px solid red;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-auto-flow: row;
  grid-auto-rows: 1fr 3fr;
}

button {
  background-color: #0284c7;
  padding: 9px 22px;
  margin-left: 2em;
  border-radius: 10px;
  border: none;

  color: white;
  font-size: 14px;
}

/*targets the Dashboard text and kapowlo Random text*/
.larger-text {
  font-size: 1.25em;
}

/*styling header section */
.whitesmoke-bg {
  background-color: whitesmoke;
}

header {
  grid-column: 2;
  grid-row: 1/1;
}
.upper-part {
  margin: 1em 0 0 2em;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.wrap-input {
  width: 65%;
}
input {
  width: clamp(90px, 100%, 800px);
  border-radius: 10px;
  background-color: rgb(235, 232, 232);
}
.wrap-img-h4 {
  display: flex;
  /* flex-grow: 1; */
}

.wrap-img-h4 img:first-of-type {
  /*select the bell and name add space to left and right */
  margin: auto 0 auto 7em;
}
.wrap-img-h4 img:nth-child(2) {
  /*select the penguin img and add space to the left of it*/
  margin-left: 1em;
}
.wrap-img-h4 h4 {
  /*select the username add space to the left of it */
  margin: auto 0 auto 1em;
}

.lower-part {
  margin: 2em 0 0 2em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.wrap-img-p {
  width: 65%;
  display: flex;
  align-items: center;
}
.small-text {
  font-size: 0.55em;
  font-weight: bold;
}

/*end of styling  for the header section */

/*styling SB section */
.light-blue-bg {
  background-color: dodgerblue;
}
.SideBar {
  grid-column: 1/1;
  grid-row: 1/3;
}

a {
  /*  border: 2px solid blue; */

  text-decoration: none;
  margin: 0 0 1em 1em; /*create some space between each link and the left edge of sb section */

  color: white;

  display: flex;
  align-items: center;
}

.first-link-Dashboard {
  margin-bottom: 1.55em;
}
.SB-wrap-img {
  margin-right: 1em;
}

.bold {
  /*targets the Dashboard text makes it more bold than the rest */
  font-weight: bolder;
}

/*Selects the Dashboard text */
nav ul a.first-link-Dashboard li {
  margin-left: -0.69em;
}

/*Selects the 7th child of the anchor element and put some margin bottom to separate from settings */
nav ul a:nth-child(7) {
  margin-bottom: 3em; /*adds more space between communities and settings */
}

/*end of styling  for the SB section */

/*styling main section */
.grey-bg {
  background-color: #d4d4d8;
}
main {
  grid-column: 2;
  grid-row: 2;
}
/*main will need grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */

/*end of styling  for the main section */
