/*reset and custom variable */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul li,
nav {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style-type: none;
}

/*general styles for buttons, body and container div(use auto-fit with grid and minmax 150px-200px 1fr) */
body {
  height: 100vh;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-auto-flow: row;
  grid-auto-rows: 1fr 3fr;
}

button {
  background-color: #0284c7;
  padding: 9px 22px;
  margin-left: 2em;
  border-radius: 10px;
  border: none;

  color: white;
  font-size: 14px;
}

.larger-text {
  /*targets the Dashboard text and kapowlo Random text*/
  font-size: 1.25em;
}

.bold {
  /*makes any text more bold than the rest */
  font-weight: bolder;
}

/*styling header section */
.whitesmoke-bg {
  background-color: whitesmoke;
}

header {
  grid-column: 2;
  grid-row: 1/1;
}
.upper-part {
  margin: 1em 0 0 2em;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.wrap-input {
  width: 65%;
}
input {
  width: clamp(90px, 100%, 800px);
  border-radius: 10px;
  background-color: rgb(235, 232, 232);
}
.wrap-img-h4 {
  display: flex;
}

.wrap-img-h4 img:first-of-type {
  /*select the bell and name add space to left and right */
  margin: auto 0 auto 7em;
}
.wrap-img-h4 img:nth-child(2) {
  /*select the penguin img and add space to the left of it*/
  margin-left: 1em;
}
.wrap-img-h4 h4 {
  /*select the username add space to the left of it */
  margin: auto 0 auto 1em;
}

.lower-part {
  margin: 2em 0 0 2em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.wrap-img-p {
  width: 65%;
  display: flex;
  align-items: center;
}
.small-text {
  font-size: 0.55em;
  font-weight: bold;
}

/*end of styling  for the header section */

/*styling SB section */
.light-blue-bg {
  background-color: dodgerblue;
}
.SideBar {
  grid-column: 1/1;
  grid-row: 1/3;
}

a {
  text-decoration: none;
  margin: 0 0 1em 1em; /*create some space between each link and the left edge of sb section */

  color: white;

  display: flex;
  align-items: center;
}

.first-link-Dashboard {
  margin-bottom: 1.55em;
}
.SB-wrap-img {
  margin-right: 1em;
}

nav ul a.first-link-Dashboard li {
  /*Selects the Dashboard text */
  margin-left: -0.69em;
}

/*Selects the 7th child of the anchor element and put some margin bottom to separate from settings */
nav ul a:nth-child(7) {
  margin-bottom: 3em; /*adds more space between communities and settings */
}

/*end of styling  for the SB section */

/*styling main section */
.grey-bg {
  background-color: #d4d4d8;
}

main {
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  /*explicitly declared rows because trending section was leaking outside of main  */
  grid-template-rows: 1fr 1fr;
  gap: 1%;
  grid-column: 2;
  grid-row: 2;
}

/*project will be a grid item and a container */
.projects-section {
  width: auto;
  height: auto;
  grid-column: 1/2;
  grid-row: 1/4;
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  /*line below is for positioning the cards inside of the project-section and making them responsive if i can...  */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 2%;
}

.grid-item1 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.grid-item2 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.grid-item3 {
  grid-column: 1/1;
  grid-row: 2/2;
}
.grid-item4 {
  grid-column: 2/2;
  grid-row: 2/2;
}
.grid-item5 {
  grid-column: 1/2;
  grid-row: 3/3;
}
.grid-item6 {
  grid-column: 2/3;
  grid-row: 3/3;
}
.projects-card {
  /*make each card look kind of like a rect */

  height: 16em;
  margin: 1em 1em 0 1em;
  padding: 1em;
  border-left: 8px solid orange;
  border-radius: 8px;
  background-color: white;
  font-size: 0.75em;

  overflow: auto; /*when screen gets small add a scroll option to see the 3 images under the text */

  display: flex;
  justify-content: stretch;
  flex-direction: column;
}
.wrap-projects-img {
  margin-top: 5em; /*creates vertical space between the image container and the text by pushing all the images down*/
  display: flex;
  flex-direction: row-reverse;
  align-self: stretch; /*the img container will stretch and take up the full width keep it for now */
}

.projects-section .projects-card img {
  /*create some space between each images of the section */
  margin: 0 0.5em;
}

/*Style announcement section */
.my-announcements-section {
  margin-top: 1em;
  /*position this section to the right of my project section */
  grid-column: 2/2;
  grid-row: 1/3;
}

.announcements-card {
  background-color: white;
  padding-left: 1em;
  width: 20em;
  height: 33em;
  border: 2px solid black;
  border-radius: 8px;

  font-size: 0.75em;
}

hr {
  width: 95%;
  margin: 1em 1em 1em 0;
  border: 1px solid blue;
}

/* Style Trending-section  */

.trending-section {
  height: auto;
  width: 90%;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 8px;
  border: 2px solid black;
  background-color: white;
  /*position this inside of the grid container right under announcement section */
  grid-column: 2/2;
  grid-row: 3/3;
}

.trending-card {
  height: 6em; /*modified from 8em to 6em reduce height of each trending-card meaning trending section gets reduced as well */
  width: 100%;

  padding: 1em 0 1em 1em; /*pushes the images away from top and left edges of the card */
  font-size: 0.75em;

  display: flex;
}
.trending-section img {
  border: 2px solid black;
  width: 2.5em;
  height: 2.5em;

  border-radius: 1.25em;
  background-color: rgba(30, 143, 255, 0.46);
}
.wrap-trending-text {
  /*create space between image and both p text */
  margin-left: 1em;
}

/*end of styling  for the main section */
